
.ng-invalid.ng-dirty {
  border-color: red;
}

.ng-valid.ng-dirty {
  border-color: green;
}
li{
  list-style: none;
}

li.small-image{
  width:50px;
}

div.list-group{
  padding: 50px;
  width: 650px;
}
.img-wrap, .img-thumbnails{
  text-align: center;
  width: 100%;
}
